name: CI

on:
  push:
    branches:
      - main

  pull_request:

jobs:
  build-and-test:
    name: Build and Test
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-22.04, windows-latest, macos-latest, windows-11-arm, ubuntu-22.04-arm]

    steps:
      - uses: actions/checkout@v4

      - name: Setup Rokit
        uses: CompeyDev/setup-rokit@v0.1.2

      - name: Install Wally packages
        run: wally install

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Restore Rust Cache
        uses: actions/cache/restore@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ matrix.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: Build
        run: cargo build --locked --verbose

      - name: Test
        run: cargo test --locked --verbose

      - name: Save Rust Cache
        uses: actions/cache/save@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ matrix.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

  lint:
    name: Rustfmt, Clippy, Stylua, & Selene
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt, clippy

      - name: Restore Rust Cache
        uses: actions/cache/restore@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: Setup Rokit
        uses: CompeyDev/setup-rokit@v0.1.2

      - name: Install Wally packages
        run: wally install

      - name: Stylua
        run: stylua --check plugin

      - name: Selene
        run: selene plugin

      - name: Rustfmt
        run: cargo fmt -- --check

      - name: Clippy
        run: cargo clippy -- -D warnings

      - name: Save Rust Cache
        uses: actions/cache/save@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

  luau-tests:
    name: Run Luau Tests via Open Cloud
    runs-on: ubuntu-latest
    concurrency:
      group: luau-execution
      cancel-in-progress: false
    steps:
      - uses: actions/checkout@v4

      - name: Setup Rokit
        uses: CompeyDev/setup-rokit@v0.1.2

      - name: Install Wally packages
        run: wally install

      - name: Generate sourcemap
        run: rojo sourcemap test-place.project.json -o sourcemap.json

      - name: Process requires with darklua
        run: rm -rf plugin-build && darklua process --config .darklua.json plugin plugin-build

      - name: Build test place
        run: rojo build test-place-build.project.json -o TestPlace.rbxl

      - name: Upload & run tests via Open Cloud
        run: lune run run-tests TestPlace.rbxl
        env:
          RBX_API_KEY: ${{ secrets.PLUGIN_UPLOAD_TOKEN }}
          RBX_UNIVERSE_ID: ${{ vars.PLUGIN_CI_UNIVERSE_ID }}
          RBX_PLACE_ID: ${{ vars.PLUGIN_CI_PLACE_ID }}
